.information {
    width: 100%;
    text-align: center;
}

.block {
    display: inline-block;
    min-width: 200px;
    min-height: 200px;
}

.facebook {
    border: 1px solid dodgerblue;
}

.twitter {
    border: 1px solid orange;
    margin-left: 5%;
}

@media all and (max-width: 470px) {
    .block {
        display: block;
        max-width: 200px;

    }
    .facebook {
        margin-left: 0;
    }
    .twitter {
        margin-left: 0;
    }
}